Source: gxde
Section: metapackages
Priority: extra
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.gfdgdxi.top

Package: gxde-desktop-live
Architecture: all
Depends: ${misc:Depends},
 gxde-desktop-base,
 gxde-desktop-panel,
 gxde-dock,
 gxde-control-center,
 gxde-launcher,
 startgxde,
 gxde-session-ui,
 gxde-file-manager,
 dde-qt5integration,
 gxde-wallpapers-live,
 gxde-wm-shim | gxde-kwin-neo,
 gxde-default-settings,
 gxde-shell-tools,
 gxde-compressor,
 gxde-terminal,
 gxde-editor,
 deepin-screen-recorder,
Recommends:
 wireless-tools,
 ttf-deepin-opensymbol,
 plymouth-theme-gxde-logo,
 fcitx5,
 fcitx5-table,
 x11vnc,
Conflicts:
 deepin-desktop-environment-desktop,
 deepin-desktop-environment-dock,
 deepin-desktop-environment-launcher,
Description: GXDE New Desktop Environment - Next
 This is a meta package depends GXDE New Desktop Envrionment.
 .
 You can safety remove it after installed.
