Source: gxde
Section: metapackages
Priority: extra
Maintainer: gfdgd xi <3025613752@qq.com>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.gfdgdxi.top

Package: gxde-desktop-live
Architecture: any
Depends: ${misc:Depends},
 gxde-desktop-base-live,
 gxde-desktop-panel,
 gxde-dock,
 gxde-control-center,
 gxde-launcher,
 startgxde,
 gxde-session-ui,
 gxde-file-manager,
 dde-qt5integration,
 gxde-wallpapers-live,
 gxde-wm-shim | gxde-kwin-neo,
 gxde-default-settings,
 gxde-compressor,
 gxde-terminal,
 deepin-editor,
 deepin-screen-recorder,
 live-boot,
 live-config,
 linux-firmware,
 gxde-source,
 gxde-wallpapers-live,
 boot-repair[amd64],
 grub-customizer,
 firefox,
 firefox-l10n-zh-cn,
 spark-store-console,
 vim,
 gparted,
 openssh-server,
 xinit,
 lightdm,
 plymouth-theme-gxde-logo,
 x11vnc,
 fcitx5,
 fcitx5-pinyin,
 xserver-xorg,
 gxde-icon-theme,
 bash-completion,
 libv4l-0,
 dde-qt6integration,
 com.github.minesweep,
 deepin-compressor,
 grub-efi,
 gir1.2-notify-0.7,
 deepin-system-monitor,
 remmina,
 com.gitee.deepin-opensource.desktop-entry-editor,
 cpux [amd64 arm64],
 timeshift,
 deepin-clone,
 aptitude,
 plymouth-theme-gxde-logo-live,
 kdiskmark,
 qphotorec,
 gsmartcontrol,
 pastebinit,
 gxde-boot-maker,
 gxde-lang-selector,
 com.uostools.livecdtools,
 com.oray.sunlogin.client,
 libssl1.1,
 bash-pinyin-completion,
Recommends:
 wireless-tools,
 ttf-deepin-opensymbol,
 fcitx5-table,
 linux-kernel-hwe-gxde-amd64 | linux-kernel-hwe-gxde-arm64 | linux-kernel-hwe-gxde-loong64,
Conflicts:
 deepin-desktop-environment-desktop,
 deepin-desktop-environment-dock,
 deepin-desktop-environment-launcher,
 gxde-top-panel,
 dde-grand-search,
 deepin-anything-server,
 deepin-calculator, 
 deepin-camera,
 deepin-event-log,
 gxde-requ,
 gxde-sea-icon-theme,
 gxde-time-screensaver, 
 gxde-timer,
 gxde-sound-theme,
 gxde-movie, 
 gxde-music, 
 gxde-ocr, 
 gxde-picker,
 gxde-artwork,
 gxde-desktop,
 gxde-account-faces,
 deepin-screensaver,
 deepin-ocr,
 laptop-mode-tools,
 flatpak,
 espeak,
 gxde-app-installer,
 gxde-shell-tools,
 pulseaudio,
 fantascene-dynamic-wallpaper,
 espeak-ng-data,
 gxde-app-upgrader,
 gxde-shell-tools,
 gxde-app-installer,
 gxde-app-uninstaller,
 gxde-kwin-wayland,
 gxde-kwin-wayland-backend-drm,
Replaces:
 gxde-top-panel,
 dde-grand-search,
 deepin-anything-server,
 deepin-calculator, 
 deepin-camera,
 deepin-event-log,
 gxde-requ,
 gxde-sea-icon-theme,
 gxde-time-screensaver, 
 gxde-timer,
 gxde-sound-theme,
 gxde-movie, 
 gxde-music, 
 gxde-ocr, 
 gxde-picker,
 gxde-artwork,
 gxde-desktop,
 gxde-account-faces,
 deepin-screensaver,
 deepin-ocr,
 laptop-mode-tools,
 flatpak,
 espeak,
 gxde-app-installer,
 gxde-shell-tools,
 pulseaudio,
 fantascene-dynamic-wallpaper,
 espeak-ng-data,
 gxde-app-upgrader,
 gxde-shell-tools,
 gxde-app-installer,
 gxde-app-uninstaller,
 gxde-kwin-wayland,
 gxde-kwin-wayland-backend-drm,
Provides:
 gxde-top-panel,
 dde-grand-search,
 deepin-anything-server,
 deepin-calculator, 
 deepin-camera,
 deepin-event-log,
 gxde-requ,
 gxde-sea-icon-theme,
 gxde-time-screensaver, 
 gxde-timer,
 gxde-sound-theme,
 gxde-movie, 
 gxde-music, 
 gxde-ocr, 
 gxde-picker,
 gxde-artwork,
 gxde-desktop,
 gxde-account-faces,
 deepin-screensaver,
 deepin-ocr,
 laptop-mode-tools,
 flatpak,
 espeak,
 gxde-app-installer,
 gxde-shell-tools,
 pulseaudio,
 fantascene-dynamic-wallpaper,
 espeak-ng-data,
 gxde-app-upgrader,
 gxde-shell-tools,
 gxde-app-installer,
 gxde-app-uninstaller,
 gxde-kwin-wayland,
 gxde-kwin-wayland-backend-drm,
Description: GXDE New Desktop Environment - Next
 This is a meta package depends GXDE New Desktop Envrionment.
 .
 You can safety remove it after installed.
